@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display|Montserrat);

h1,h2,h3,h4,h5 {
	font-family: 'Montserrat';
}

p {
	font-family: 'Open Sans';
}
section.page-title {
	padding: 3em;
	background: #40E0D0; /*turq*/
}

section.content{
	background: #F8EF88; /*light yellow*/
}

@media screen and (min-width:780px) {
	body {
		height: 100vh;
	}

	section.content {
		height: 80%;
		padding: 3em;
	}

	section.page-title {
		height: 20%;
	}
}

#heading {
	/*letter-spacing: 5px;*/
	font-family: 'Montserrat';
	font-weight: 700;
}

#left-col {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3em;
}

.submit-btn {
	margin: auto;
}

#circle-bg {
	position: fixed;
}